@font-face {
  font-family: 'almoni-neue-dl';
  src: url('../assets/fonts/almoni-neue-aaa-400.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'almoni-neue-dl';
  src: url('../assets/fonts/almoni-neue-aaa-700.woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'almoni-neue-dl';
  src: url('../assets/fonts/almoni-neue-aaa-900.woff');
  font-weight: 900;
  font-style: normal;
}

@import '../scss/_variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
  font-size: 17px;
}

body {
  font-family: almoni-neue-dl, arial, sans-serif;
  background: #f6f7f8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

button:focus,
a.button:focus {
  outline: none;
}

button {
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5rem;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  padding: 0 2rem;
  line-height: 2.5rem;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  transition: width 0.25s ease-in-out;
  outline: none;
}

input[type='text'],
input[type='password'] {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-internal-autofill-selected {
  background-color: white !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

main {
  width: 70%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: $header-height + 20;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #a2adb5;
  font-size: 0.8rem;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a2adb5;
  font-size: 0.8rem;
}
::placeholder {
  color: #a2adb5;
  font-size: 0.8rem;
}
